<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl433l4N1uqtuCuAIoz84x-9EPi9mNBbY</string>
	<key>GCM_SENDER_ID</key>
	<string>689740679188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Biblioteca.HealMe-Telemedicine-App</string>
	<key>PROJECT_ID</key>
	<string>healme-telemedicine-app</string>
	<key>STORAGE_BUCKET</key>
	<string>healme-telemedicine-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689740679188:ios:d79d26c38fedf1294bbf01</string>
</dict>
</plist>